/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Todo */

.todo {
    max-width: 600px;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
}

.todo__head {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo__input__label {
    display: block;
}

.todo__head-controls {
    width: 100%;
    display: flex;
}

.todo__input {
    width: 80%;
    height: 50px;
    font-size: 2.5rem;
}

.add-task-btn {
    width: 20%;
    height: 50px;
    font-size: 2rem;
}

.todo__body {
    padding: 20px;
    height: 80%;
    overflow: auto;
    position: relative;
    -ms-overflow-style: none;
}

.todo__body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.todo__task-list {
    list-style: none;
}

.todo__task-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
}

.todo__task-text {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0;
}

.todo__task-controls__btn {
    transition: all 0.3s linear;
}

.todo__task-controls__btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.scroll-visualizer {
    cursor: pointer;
    text-align: center;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -10px);
    font-size: 1.2rem;
    color: white;
    width: 0;
    height: 0;
    border-radius: 50%;
    visibility: hidden;
    transition: all 0.2s linear;
}

.scroll-visualizer.active {
    visibility: visible;
    height: 30px;
    width: 30px;
}